<div event-card
  class="flex flex-col shrink-0
    cursor-pointer relative overflow-hidden
    basis-80 max-w-[min(32rem,_95dvw)] aspect-square rounded-xl p-2
    bg-(image:--bg-url) bg-no-repeat bg-cover bg-center"
  [style.--bg-url]="`url(${event()?.bannerUrl || bannerUrl()}), url(https://i.imgur.com/wDi0xHn.jpeg)`"
  (click)="cardTap.emit()"
>
  <div class="flex grow-1 flex-col justify-between z-1">
    <div>
      <div class="flex justify-between flex-nowrap gap-1">
        <h1 class="text-2xl font-bold">{{event()?.title || title()}}</h1>
        <dance-type-pills class="*:max-w-25 *:justify-end"
          [danceTypeIds]="event()?.danceTypeIds || danceTypeIds()"
        />
      </div>
      <p class="whitespace-pre-wrap">{{event()?.description || description()}}</p>
    </div>
    
    <div>
    <event-type-tags [eventTypeIds]="event()?.eventTypeIds || eventTypeIds()" />
     <p>
        @let _location = event()?.location || location();

        <a class="font-bold hover:text-blue-400" (click)="openGMapsLink(_location); $event.stopPropagation()">
          {{_location}}
        </a>
        @let _price = event()?.price || price();
        - {{_price ? `€${_price}` : 'Gratis'}}
      </p>
      <p>{{event()?.eventDate || eventDate() | date:"dd-MMM-yyyy @ hh:mm"}}</p>
      <div class="flex justify-between items-baseline">
        <small><strong>Actualizado: </strong> {{ event()?.updated || updated() | date:"dd-MMM-yyyy @ hh:mm" }}</small>
        <p>[id: {{event()?.id || id()}}]</p>
      </div>
    </div>
  </div>
  <div class="absolute inset-0 bg-black opacity-50"></div>
</div>
